html, body {
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1 rem;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  background-color: rgb(237, 245, 151);
}

canvas {
  display: block;
}
